---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/PostLayout.astro';
import PostList from '../../components/PostList.astro';
import { sortItemsByDateDesc } from '../../utils/data-utils';

const posts = (await getCollection('post')).sort(sortItemsByDateDesc);
---

<Layout pageTitle="Posts">
	<h2>Posts</h2>
	<PostList posts={posts} />
</Layout>
