---
import Layout from '../layouts/MainLayout.astro';
import AboutSection from '../components/index/About.astro';
import SkillsSection from '../components/index/Skills.astro';
import SocialSection from '../components/index/Social.astro';
import ExperienceSection from '../components/index/Experience.astro';
import ProjectsSection from '../components/index/Projects.astro';
import IndexPosts from '../components/index/Posts.astro';
---

<Layout pageTitle={undefined}>
	<section class="top">
		<container>
			<div>
				<h1>Robin Daugherty</h1>
				<div class="tagline">
					Utrecht, Netherlands ·
					<a href="mailto:robin@robindaugherty.net">robin@robindaugherty.net</a>
				</div>
			</div>

			<div>
				<AboutSection />
			</div>

			<div>
				<SocialSection />
			</div>
		</container>
	</section>

	<section class="skills">
		<container>
			<h2>Skills</h2>
			<SkillsSection />
		</container>
	</section>

	<section class="experience">
		<container>
			<h2>Experience</h2>
			<ExperienceSection />
		</container>
	</section>

	<section class="projects">
		<container>
			<h2>Projects</h2>
			<ProjectsSection />
		</container>
	</section>

	<section class="posts">
		<container>
			<h2>Posts</h2>
			<IndexPosts />
		</container>
	</section>
</Layout>

<style>
	section {
		min-height: 80vh;
		display: flex;
		align-items: center;
		justify-content: start;

		> container {
			width: 100%;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}

	h2 {
		font-size: 1.1rem;
		text-transform: uppercase;
		text-decoration: underline;
		text-underline-offset: 0.15em;
	}

	h1 {
		font-family: var(--font-headline);
		font-weight: 400;
		font-size: 4rem;
		line-height: 3rem;
		margin: 0;
	}

	section + section {
		border-top: 1px solid var(--color-secondary);
	}

	section.top {
		> container {
			display: flex;
			flex-direction: column;
			gap: 3rem;
		}

		.tagline {
			padding-top: 1em;
		}

		h2 {
			margin-top: 2rem;
		}

		a[href^='mailto:'] {
			text-decoration: none;
		}
	}

	:global(section) :global(container) h2 {
		margin-top: 0;
	}
</style>
