---
import '@fontsource/space-mono/400.css';
import Layout from '../layouts/MainLayout.astro';
import AboutSection from '../components/index/About.astro';
import SkillsSection from '../components/index/Skills.astro';
import SocialSection from '../components/index/Social.astro';
import ExperienceSection from '../components/index/Experience.astro';
import ProjectsSection from '../components/index/Projects.astro';
import IndexPosts from '../components/index/Posts.astro';
---

<Layout pageTitle={undefined}>
	<h1>Robin Daugherty</h1>
	<section class="tagline">
		<p>
			Utrecht, Netherlands ·
			<a href="mailto:robin@robindaugherty.net">robin@robindaugherty.net</a>
		</p>
	</section>

	<h2>Me</h2>
	<section class="me"><AboutSection /></section>

	<h2>Social</h2>
	<section class="social">
		<SocialSection />
	</section>

	<h2>Skills</h2>
	<section class="skills">
		<SkillsSection />
	</section>

	<h2>Experience</h2>
	<section class="experience">
		<ExperienceSection />
	</section>

	<h2>Projects</h2>
	<section class="projects">
		<ProjectsSection />
	</section>

	<h2>Posts</h2>
	<section class="posts">
		<IndexPosts />
	</section>
</Layout>

<style>
	h1 {
		font-family: 'Space Mono', monospace;
		font-weight: 400;
		font-size: 4rem;
		line-height: 3rem;
		margin: 0;
	}
	h2 {
	}

	section.tagline {
		a[href^='mailto:'] {
			text-decoration: none;
		}
	}
</style>
