---
import { type CollectionEntry } from 'astro:content';

type Props = {
	post: CollectionEntry<'post'>;
	class?: string;
};

const { post, class: className } = Astro.props;
const { title } = post.data;

const path = `/posts/${post.slug}`;
---

<article class:list={[className]}>
	<a href={path}>
		<div class="title">
			{title}
		</div>
	</a>
</article>

<style lang="scss">
	article {
		display: block;

		a {
			.published-date {
				display: block;
				text-decoration: none;
				font-size: 0.75em;
				color: var(--gray-light);
			}

			.title {
				display: block;
			}
		}
	}
</style>
