---

---

<p>
	I am a passionate <strong>Lead Software Engineer</strong>,{' '}
	<strong>Systems Architect</strong>, and <strong>Engineering Director</strong>.
	Software is the way that we express ourselves and experience the world. I want
	to make that experience better. More organized. More pleasing. I deliver
	solutions and manage teams doing the same. I’ve done this for over 20 years in
	a broad range of industries and in all manner of languages and environments.
</p>
