---
import ExperienceEntry from './ExperienceEntry.astro';
---

<ExperienceEntry
	title="Freelance Software Engineer"
	company="Random Services"
	startYear={2023}
>
	<p>
		App development for macOS, iOS, and the web. IT services, CRM
		implementation. Most of this as a sole developer handling all phases of the
		project, but in some cases working as part of an established team. Various
		projects utilizing (most recently) Swift, Typescript, Ruby, Rails, React,
		Vue, SwiftUI.
	</p>
	<p>
		Integration with various external systems such as GitHub API, GitLab API,
		Bitbucket API, Travis CI API, identity checking, credit reporting, payment
		processing. Continuous integration and deployment with CircleCI, GitHub
		Actions.
	</p>
</ExperienceEntry>
<ExperienceEntry
	title="Co-founder & CTO, Harper"
	company="Harper"
	startYear={2018}
	endYear={2023}
>
	<p>
		Responsible for system architecture and development of our iOS app, backend
		services, and business and marketing tools. Software development in Ruby,
		Rails, Swift (SwiftUI and UIKit), React, and TypeScript.
	</p>
	<p>
		Manage CI, releases, Apple Developer certificates & profiles. Bitrise and
		GitHub Actions (including self-hosted on macOS). Integration with cal.com,
		Stripe, Zapier, Cloudflare Streams, StreamChat. Utilizing gatsby.js, NextJS.
	</p>
	<p>
		Deployment to Apple App Store, TestFlight, Vercel, Cloudflare Pages,
		Netlify, and self-hosted using Capistrano. Database
		administration/maintenance using PostgreSQL on RDS and Digital Ocean. Use of
		GraphQL using Apollo Client (iOS and JS) and graphql-ruby. Sentry and
		AppSignal for exception and performance reporting.
	</p>
</ExperienceEntry>
<ExperienceEntry
	title="Contract Software Developer"
	company="Guild Technology, Inc"
	startYear={2020}
	endYear={2021}
>
	<p>
		Engineering and DevOps on ScriptHero team at CoverMyMeds. I was brought on
		to complete a specific project, and stayed on afterward as part of the team.
		I focused mainly on developer experience and deployment infrastructure.
	</p>
	<p>
		Ruby, Rails, Vue, React inside Rails, TypeScript. Continuous integration
		with CircleCI and Github Actions. Worked heavily on integration and
		deployment to Azure.
	</p>
</ExperienceEntry>
<ExperienceEntry
	title="Senior Software Developer"
	company="Flowspace"
	startYear={2018}
	endYear={2020}
>
	<p>
		Lead engineer, building in Ruby, Rails, React. System architecture and
		planning. Deployment and hosting infrastructure including Cloudflare,
		Ansible, CircleCI.
	</p>
</ExperienceEntry>
<ExperienceEntry
	title="Director of Engineering"
	company="C&C Building Automation"
	startYear={2016}
	endYear={2018}
>
	<p>
		Systems architect, lead developer, and manager of team of 3–5 while we
		developed a new enterprise hardware+embedded software product.
	</p>
	<p>
		This project involved integration with building climate and lighting control
		systems, using a mix of RS485 and IP networking. In many cases this involved
		analyzing network traffic in order to build integration and troubleshoot
		systems.
	</p>
	<p>
		Responsibilities included R&D and overseeing system trials, software
		development, and hardware assembly. Managed continuous integration and
		deployment for multiple enterprise applications. Documentation and
		enforcement of security practices. Ruby development with Rails. EmberJS
		development and deployment tools. Linode, AWS (RDS, EC2, S3, CloudFront),
		CloudFlare, Ansible, SSH key infrastructure, Flynn, Docker, CircleCI,
		SSL/TLS, DGLogik/DGLux/Atrius Solutions Builder, Slack integration.
	</p>
</ExperienceEntry>
<ExperienceEntry
	title="Senior Software Engineer"
	company="Stitch Fix"
	startYear={2016}
	endYear={2016}
>
	<p>
		Worked with internal stakeholders to gather requirements and design tools to
		improve their workflow. With the engineering team, build, deploy and support
		these tools.
	</p>
	<p>
		We focused on a service architecture, I worked on consumer-driven contracts
		for REST services using Pact framework. Worked with some older Rails
		projects, speeding up their test suites and fixing unreliable tests.
	</p>
</ExperienceEntry>
<ExperienceEntry
	title="Senior Software Engineer"
	company="Ahalogy"
	startYear={2013}
	endYear={2016}
>
	<p>
		Engineering lead, working on application architecture and services
		integration. Led rewrite of PHP and BackboneJS application in Ruby on Rails.
	</p>
	<p>
		RSpec, Capistrano, and Sidekiq. Built highly-trafficked Rails application
		(handling about 6.5M page views per day) using JRuby. Integration with
		Fastly CDN and Cloudinary.
	</p>
	<p>
		For a year of this time, acted as “Co-CTO”, which included team personnel
		management. Created code review and pull request processes. Established
		continuous integration & deployment for our projects. Implemented Ansible
		for infrastructure management.
	</p>
	<p>Agile and Remote cultural evangelist.</p>
</ExperienceEntry>
<ExperienceEntry
	title="Full-Stack Engineer & Co-founder"
	company="K&R Software"
	startYear={2012}
	endYear={2013}
>
	<p>
		Build and support custom applications for web startups and internal
		applications for large companies.
	</p>
	<p>
		Managed team of contract engineers. Gathered requirements, built
		applications, and provided end-user support. Worked with other engineers to
		provide clarity on requirements and assist with implementation.
	</p>
</ExperienceEntry>
<ExperienceEntry
	title="Senior Infrastructure Engineer"
	company="Motorola"
	startYear={2006}
	endYear={2011}
>
	<p>
		A lead engineer responsible for building and maintaining the MOTODEV
		website.
	</p>
	<p>
		Built internal and external-facing tools for the Developer Relations team
		including a full CMS with virtual filesystem, localization support, and CRM
		integration. Hardware, software, and networking for various web applications
		in high-volume, fault-tolerant production environment.
	</p>
</ExperienceEntry>
<ExperienceEntry
	title="Software Architect"
	company="TechIT Solutions"
	startYear={2005}
	endYear={2006}
>
	<p>
		Designed and built intranet and Internet sites utilizing PHP and MySQL.
		Managed servers running Mac OS X and Linux. On-site setup and support of
		PCs, Macs, and networking at various trade shows.
	</p>
</ExperienceEntry>
<ExperienceEntry
	title="Systems Specialist"
	company="Ohio Valley Flooring"
	startYear={1997}
	endYear={2005}
>
	<p>
		Software development, telecommunications management and support. Local- and
		wide-area network planning and installation, including engineering of mesh
		VPN to handle VOIP traffic. Designed, built, supported web-based call center
		management system. Application development in Lotus Notes.
	</p>
</ExperienceEntry>
