---
import PostList from '../../components/PostList.astro';
import { getCollection } from 'astro:content';
import { sortItemsByDateDesc } from '../../utils/data-utils';

const posts = (
	await getCollection('post', (post) => !post.data.hideFromIndex)
).sort(sortItemsByDateDesc);
---

<PostList posts={posts} />
<p><a href="/posts">more</a></p>

<style></style>
