---
import '../styles/global.scss';
import '@fontsource/source-sans-pro';
import '@fontsource/source-sans-pro/600.css';
import '@fontsource/source-sans-pro/900.css';
import '@fontsource/source-code-pro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = {
	pageTitle: string | undefined;
	pageDescription?: string | undefined;
	publishedDate?: Date | undefined;
};

const { pageTitle, pageDescription, publishedDate } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			pageTitle={pageTitle}
			pageDescription={pageDescription}
			publishedDate={publishedDate}
		/>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html {
		--color-primary: #2c3e50;
		--color-secondary: gray;
		--font-main: 'Source Sans Pro', sans-serif;
		--font-headings: 'Source Sans Pro', sans-serif;
		--font-code: 'Source Code Pro', monospace;
	}
	body {
		font-family: var(--font-main);
		margin: 0;
		padding: 0;
	}
</style>
