---
import '../styles/global.scss';
import '@fontsource/source-sans-pro/300.css';
import '@fontsource/source-sans-pro';
import '@fontsource/source-serif-pro/300-italic.css';
import '@fontsource/source-serif-pro/400-italic.css';
import '@fontsource/source-code-pro/400.css';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = {
	pageTitle: string | undefined;
	pageDescription?: string | undefined;
	publishedDate?: Date | undefined;
};

const { pageTitle, pageDescription, publishedDate } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			pageTitle={pageTitle}
			pageDescription={pageDescription}
			publishedDate={publishedDate}
		/>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html {
		--font-main: 'Source Sans Pro', sans-serif;
		--font-weight-main: 300;
		--font-headings: 'Source Sans Pro', sans-serif;
		--font-weight-headings: 400;
		--font-weight-bold: 400;
		--font-italic: 'Source Serif Pro', serif;
		--font-code: 'Source Code Pro', monospace;
		--font-weight-code: 400;
	}
	body {
		margin: 0;
		padding: 0;
	}

	main {
		margin: 0 auto;
		max-width: 800px;
		padding: 1rem;
	}
</style>
