---
import Layout from './MainLayout.astro';

type Props = {
	pageTitle: string | undefined;
	pageDescription?: string | undefined;
	publishedDate?: Date | undefined;
};

const { pageTitle, pageDescription, publishedDate } = Astro.props;
---

<Layout
	pageTitle={pageTitle}
	pageDescription={pageDescription}
	publishedDate={publishedDate}
>
	<h1><a href="/">Robin Daugherty</a></h1>
	<slot />
</Layout>

<style>
	h1 {
		font-family: var(--font-headline);
		font-weight: 400;
		font-size: 2.5rem;
		line-height: 3rem;
		margin: 0;
		margin-left: -0.07em;
		a {
			text-decoration: none;
			color: inherit;
		}
	}
</style>
